{% embed 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set image_width = theme_config.blog_thumbnail_width|defined(600) %}
{% set image_height = theme_config.blog_thumbnail_height|defined(450) %}

{% block content %}
{% if page.header.image and page.media.images[page.header.image]%}
    {% set image = page.header.image %}
{% elseif page.media.images|length > 0 %}
    {% set image = page.media.images|first.filename %}
{% endif %}
{% set image_width = theme_config.blog_thumbnail_width|defined(600) %}
{% set image_height = theme_config.blog_thumbnail_height|defined(450) %}
<div class="banner banner-alt"{% if image %} style="background-image: url({{ page.media.images[image].cache.url }})"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.2s">{{ page.header.title|raw }}</h1>
                <span class="line os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s"></span>
                {% if content is not empty %}
                <div class="top">{{ content|raw }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<section class="blog">
    <div class="container">
        {% if config.plugins.simplesearch.enabled %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include 'partials/simplesearch_searchbox.html.twig' %}
            </div>
        </div>
        {% endif %}
        <div class="blog-container">
            <div class="row">
                {% for child in collection %}
                    {% include 'partials/blog_item.html.twig' with ({'p': child, 'image_width': image_width, 'image_height': image_height}) %}
                {% endfor %}
            </div>

            {% if config.plugins.pagination.enabled and collection.params.pagination %}
                {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% endembed %}
