{% embed 'partials/base.html.twig' %}

{% block content %}
{% set image = '' %}
{% if theme_config.default_background_image|length > 0 %}
    {% for item in theme_config.default_background_image %}
        {% set image = item.name %}
    {% endfor %}
{% endif %}

<div class="banner banner-alt"{% if image %} style="background-image: url({{ url('theme://images/' ~ image) }})"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ page.title|raw }}</h1>
                <span class="line"></span>
                <div class="top">{{ page.header.summary|raw }}</div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content">
        {{ page.content|raw }}
    </div>
</div>
{% endblock %}

{% endembed %}
