{% embed 'partials/base.html.twig' %}

{% block content %}
{% set image = '' %}
{% if theme_config.default_background_image|length > 0 %}
    {% for item in theme_config.default_background_image %}
        {% set image = item.name %}
    {% endfor %}
{% endif %}

<div class="banner"{% if image %} style="background-image: url({{ url('theme://images/' ~ image) }})"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
                <span class="line"></span>
                <p class="top">{{ page.content|raw }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% endembed %}
