{% extends 'partials/base.html.twig' %}

{% block content %}
    {% for module in page.collection() %}
    <section id="{{ module.folder|trim('_') }}">
        {{ module.content|raw }}
    </section>
    {% endfor %}
{% endblock %}
